@use "sass:math";

.footer {
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: grid;
		grid-template-columns: 250px 1fr 290px;
		@include adaptiv-value("column-gap", 80, 0, 1);
		@include adaptiv-value("padding-top", 80, 30, 1);
		@include adaptiv-value("padding-bottom", 60, 20, 1);
		border-top: 1px solid $c-D8D8D8;
		font-size: 16px;
		line-height: 150%;
		color: $c-616161;
		@media (max-width: $md1+px) {
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 290px;
		}
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .footer__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $md1+px) {
			grid-column: span 2;
			max-width: 540px;
			@include adaptiv-value("margin-bottom", 40, 30, 1);
		}
	}
	// .footer__logo
	&__logo {
		margin: 0px 0px math.div(16px, 24px) * 1em 0px;
	}
	// .footer__text
	&__text {
		margin: 0px 0px 1em 0px;
	}
	// .footer__contacts
	&__contacts {
	}
	// .footer__menu
	&__menu {
	}
	// .footer__subscribe
	&__subscribe {
	}
}

.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .contacts-footer__item
	&__item {
		display: inline-flex;
		align-items: center;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 16, 11, 1);
		}
		&::before {
			margin: 0px 8px 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $c-E89F71;
			}
		}
		// .contacts-footer__item_location
		&_location {
		}
		// .contacts-footer__item_phone
		&_phone {
		}
		// .contacts-footer__item_email
		&_email {
		}
	}
}

.menu-footer {
	@media (max-width: $md3+px) {
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}
	@media (max-width: $md1+px) {
		max-width: 550px;
	}
	@media (min-width: 520px) {
		display: flex;
		justify-content: space-between;
	}

	// .menu-footer__column
	&__column {
		@media (max-width: 520px) {
			@include adaptiv-value("margin-bottom", 30, 15, 1);
		}
		@media (max-width: $md3+px) {
			flex: 0 1 33.333%;
		}
	}
	// .menu-footer__btn
	&__btn {
		transition: all 0.3s ease 0s;
		@media (min-width: 520px) {
			margin: 0px 0px math.div(16px, 24px) * 1em 0px;
		}
		._init & {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			flex-direction: row-reverse;
			@extend ._icon-arrow-down;
			&::before {
				@extend %ic;
				font-size: 12px;
				transition: all 0.5s ease 0s;
			}
		}
		&._active {
			color: $c-E89F71;
			&::before {
				color: $c-E89F71;
				transform: rotate(-180deg);
			}
		}
	}
	// .menu-footer__list
	&__list {
		@media (max-width: 520px) {
			padding: 15px 0px 0px 0px;
		}
	}
	// .menu-footer__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px math.div(16px, 24px) * 1em 0px;
		}
	}
	// .menu-footer__link
	&__link {
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $c-E89F71;
			}
		}
	}
}

.subscribe-footer {
	// .subscribe-footer__title
	&__title {
		margin: 0px 0px math.div(16px, 24px) * 1em 0px;
	}
	// .subscribe-footer__form
	&__form {
		display: flex;
		align-items: center;
		position: relative;
		.form__error {
			margin: 3px 0px 0px 0px;
			position: absolute;
			top: 100%;
			left: 12px;
			font-size: 12px;
			color: red;
		}
		@media (max-width: $md3+px) {
			max-width: 295px;
		}
	}
	// .subscribe-footer__input
	&__input {
		width: 100%;
		height: 45px;
		margin: 0px 5px 0px 0px;
		padding: 0 12px;
		color: $c-828282;
		background: $c-F4F5F7;
	}
	// .subscribe-footer__btn
	&__btn {
		flex: 0 0 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		color: $c-FFFFFF;
		background: $c-E89F71;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: darken($c-E89F71, 10%);
			}
		}
	}
}
