@use "sass:math";

.home-slider {
	// margin: 0 auto;
	// max-width: 1920px;
	// overflow: hidden;
	background: $c-FCF8F3;
	// .home-slider__container
	&__container {
		position: relative;
		@media (min-width: $md2+px) {
			&::before {
				content: "";
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				right: 376px;
				background: $c-F9F1E7;
			}
		}
	}
	// .home-slider__body
	&__body {
		padding: 140px 0px 0px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: $md2+px) {
			padding: 80px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 50px 0px 0px 0px;
		}
		@media (min-width: $md2+px) {
			display: flex;
		}
	}
	// .home-slider__content
	&__content {
		@include adaptiv-value("margin-bottom", 80, 15, 1);
		@media (min-width: $md2+px) {
			align-self: flex-start;
			flex: 0 0 math.div(494, 1240) * 100%;
		}
		@media (max-width: $md2+px) {
			margin: 0 -15px;
		}
	}
	// .home-slider__slider
	&__slider {
		min-width: 0;
		@media (min-width: $md2+px) {
			align-self: flex-end;
			flex: 1 1 auto;
			padding: 0px 0px 0px 32px;
		}
	}
}

.content-home-slider {
	padding-left: 15px;
	padding-right: 15px;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);
	position: relative;
	z-index: 5;
	background: rgba(255, 255, 255, 0.72);
	@media (min-width: $md2+px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-home-slider__title
	&__title {
		@include adaptiv-value("font-size", 56, 24, 1);
		font-weight: 700;
		line-height: 120%;
		&:not(:last-child) {
			margin: 0px 0px math.div(16px, 56px) * 1em 0px;
		}
	}
	// .content-home-slider__text
	&__text {
		color: $c-898989;
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin: 0px 0px math.div(48px, 20px) * 1em 0px;
		}
	}
	// .content-home-slider__button
	&__button {
		width: 100%;
		@include adaptiv-value("min-height", 78, 45, 1);
		@include adaptiv-value("font-size", 20, 16, 1);
		@media (max-width: $md2+px) {
			margin: 0 auto 20px auto;
			max-width: 375px;
		}
	}
}

.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: $md2+px) {
		flex-direction: column-reverse;
		align-items: stretch;
		margin: 0 -15px;
	}
	// .slider-main__controls
	&__controls {
		align-self: stretch;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md2+px) {
			margin: 10px auto 20px auto;
			width: 90%;
		}
	}
	// .slider-main__body
	&__body {
		overflow: visible;
		@media (min-width: $md2+px) {
			@include adaptiv-value("width", 934, 290, 1);
		}
	}
	// .slider-main__slide
	&__slide {
		position: relative;
	}
	// .slider-main__image
	&__image {
		padding: 0px 0px 59.21% 0px;
	}
	// .slider-main__content
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 24, 15, 1);
		min-width: 295px;
		max-height: 300px;
		background: rgba(255, 255, 255, 0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
		@media (min-width: $md3+px) {
			position: absolute;
			min-width: 350px;
			@include adaptiv-value("right", 40, 0, 1);
			@include adaptiv-value("bottom", 40, 0, 1);
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
			max-width: 300px;
		}
	}
	// .slider-main__title
	&__title {
		@include adaptiv-value("font-size", 28, 22, 1);
		font-weight: 600;
		line-height: 120%;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .slider-main__text
	&__text {
		color: $c-616161;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .slider-main__price
	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
	}
}

.controls-slider-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .controls-slider-main__dotts
	&__dotts {
		flex: 1 1 auto;
		@media (min-width: $md2+px) {
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $md3+px) {
			width: 100%;
			justify-content: center;
		}
	}
	// .controls-slider-main__arrows
	&__arrows {
		display: grid;
		grid-template-columns: repeat(2, 48px);
		column-gap: 8px;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .controls-slider-main__arrow
	&__arrow {
	}
}
